pkgs/Wadl/AzureBlobStorage.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/azureblob" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="AzureBlobStorage" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Azure Blob Storage">Microsoft Azure Storage proporciona un almacenamiento masivamente escalable, duradero y altamente disponible para datos en la nube y sirve como una solución de almacenamiento de datos para aplicaciones modernas. Conéctese a Blob Storage para realizar varias operaciones como crear, actualizar, obtener y eliminar blobs en su cuenta de Azure Storage.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/azureblob" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <untypedObject name="Object" />
      <string name="BlobMetadata_Id_def" />
      <string name="BlobMetadata_Name_def" />
      <string name="BlobMetadata_DisplayName_def" />
      <string name="BlobMetadata_Path_def" />
      <dateTimeString name="BlobMetadata_LastModified_def" />
      <integer name="BlobMetadata_Size_def" />
      <string name="BlobMetadata_MediaType_def" />
      <boolean name="BlobMetadata_IsFolder_def" />
      <string name="BlobMetadata_ETag_def" />
      <string name="BlobMetadata_FileLocator_def" />
      <object name="BlobMetadata">
        <property name="Id" type="string" />
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Path" type="string" />
        <property name="LastModified" typeRef="BlobMetadata_LastModified_def" />
        <property name="Size" type="integer" />
        <property name="MediaType" type="string" />
        <property name="IsFolder" type="boolean" />
        <property name="ETag" type="string" />
        <property name="FileLocator" type="string" />
      </object>
      <string name="BlobMetadataResponse_Id_def" />
      <string name="BlobMetadataResponse_Name_def" />
      <string name="BlobMetadataResponse_DisplayName_def" />
      <string name="BlobMetadataResponse_Path_def" />
      <dateTimeString name="BlobMetadataResponse_LastModified_def" />
      <integer name="BlobMetadataResponse_Size_def" />
      <string name="BlobMetadataResponse_MediaType_def" />
      <boolean name="BlobMetadataResponse_IsFolder_def" />
      <string name="BlobMetadataResponse_ETag_def" />
      <string name="BlobMetadataResponse_FileLocator_def" />
      <object name="BlobMetadataResponse">
        <property name="Id" type="string" />
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
        <property name="Path" type="string" />
        <property name="LastModified" typeRef="BlobMetadataResponse_LastModified_def" />
        <property name="Size" type="integer" />
        <property name="MediaType" type="string" />
        <property name="IsFolder" type="boolean" />
        <property name="ETag" type="string" />
        <property name="FileLocator" type="string" />
      </object>
      <array typeRef="BlobMetadata" name="BlobMetadataPage_value_def" />
      <string name="BlobMetadataPage_nextLink_def" />
      <string name="BlobMetadataPage_nextPageMarker_def" />
      <object name="BlobMetadataPage">
        <property name="value" typeRef="BlobMetadataPage_value_def" />
        <property name="nextLink" type="string" />
        <property name="nextPageMarker" type="string" />
      </object>
      <string name="SharedAccessSignatureBlobPolicy_GroupPolicyIdentifier_def" />
      <string name="SharedAccessSignatureBlobPolicy_Permissions_def" />
      <dateTimeString name="SharedAccessSignatureBlobPolicy_StartTime_def" />
      <dateTimeString name="SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
      <string name="SharedAccessSignatureBlobPolicy_AccessProtocol_def" />
      <string name="SharedAccessSignatureBlobPolicy_IpAddressOrRange_def" />
      <object name="SharedAccessSignatureBlobPolicy">
        <property name="GroupPolicyIdentifier" type="string" />
        <property name="Permissions" type="string" />
        <property name="StartTime" typeRef="SharedAccessSignatureBlobPolicy_StartTime_def" />
        <property name="ExpiryTime" typeRef="SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
        <property name="AccessProtocol" type="string" />
        <property name="IpAddressOrRange" type="string" />
      </object>
      <string dtype="hyperlink" name="SharedAccessSignature_WebUrl_def" />
      <object name="SharedAccessSignature">
        <property name="WebUrl" type="string" dtype="hyperlink" />
      </object>
      <array typeRef="StorageAccount" name="StorageAccountList_value_def" />
      <object name="StorageAccountList">
        <property name="value" typeRef="StorageAccountList_value_def" />
      </object>
      <string name="StorageAccount_Name_def" />
      <string name="StorageAccount_DisplayName_def" />
      <object name="StorageAccount">
        <property name="Name" type="string" />
        <property name="DisplayName" type="string" />
      </object>
      <object name="DataSetsMetadata">
        <property name="tabular" typeRef="TabularDataSetsMetadata" />
        <property name="blob" typeRef="BlobDataSetsMetadata" />
      </object>
      <string name="TabularDataSetsMetadata_source_def" />
      <string name="TabularDataSetsMetadata_displayName_def" />
      <string name="TabularDataSetsMetadata_urlEncoding_def" />
      <string name="TabularDataSetsMetadata_tableDisplayName_def" />
      <string name="TabularDataSetsMetadata_tablePluralName_def" />
      <object name="TabularDataSetsMetadata">
        <property name="source" type="string" />
        <property name="displayName" type="string" />
        <property name="urlEncoding" type="string" />
        <property name="tableDisplayName" type="string" />
        <property name="tablePluralName" type="string" />
      </object>
      <string name="BlobDataSetsMetadata_source_def" />
      <string name="BlobDataSetsMetadata_displayName_def" />
      <string name="BlobDataSetsMetadata_urlEncoding_def" />
      <object name="BlobDataSetsMetadata">
        <property name="source" type="string" />
        <property name="displayName" type="string" />
        <property name="urlEncoding" type="string" />
      </object>
      <string name="UpdateFile_V2_param_body_def" />
      <string name="GetFileContentByPath_V2_responses_200_def" />
      <string name="GetFileContent_V2_responses_200_def" />
      <string name="CreateFile_V2_param_body_def" />
      <array typeRef="BlobMetadata" name="ExtractFolder_V3_responses_200_def" />
      <string name="UpdateFile_param_body_def" />
      <string name="GetFileContentByPath_responses_200_def" />
      <string name="GetFileContent_responses_200_def" />
      <string name="CreateFile_param_body_def" />
      <array typeRef="BlobMetadata" name="ExtractFolderV2_responses_200_def" />
      <array typeRef="SharedAccessSignatureBlobPolicy" name="GetAccessPolicies_V2_responses_200_def" />
      <string name="CreateBlockBlob_V2_param_body_def" />
      <array typeRef="SharedAccessSignatureBlobPolicy" name="GetAccessPolicies_responses_200_def" />
      <string name="CreateBlockBlob_param_body_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/azureblob">
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataV2" actionName="GetFileMetadata_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetFileMetadata" siena:revision="2" siena:status="Production">
        <doc title="Obtener metadatos del blob (V2)&#xA;Esta operación recupera los metadatos del blob mediante el id. de blob." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob que se actualizará." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateFileV2" actionName="UpdateFile_V2" siena:isDeprecated="false" siena:family="UpdateFile" siena:revision="2" siena:status="Production">
        <doc title="Actualizar blob (V2)&#xA;Esta operación actualiza un blob en Azure Blob Storage." />
        <request>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de actualizar un archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob que se eliminará." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteFileV2" actionName="DeleteFile_V2" siena:isDeprecated="false" siena:family="DeleteFile" siena:revision="2" siena:status="Production">
        <doc title="Eliminar blob (V2)&#xA;Esta operación elimina un blob." />
        <request>
          <param style="header" name="SkipDeleteIfFileNotFoundOnServer" type="xs:boolean" default="false">
            <doc title="Omite la eliminación si no se encuentra un archivo en el servidor." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/GetFileByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataByPathV2" actionName="GetFileMetadataByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetFileMetadataByPath" siena:revision="2" siena:status="Production">
        <doc title="Obtener metadatos del blob mediante ruta de acceso (V2)&#xA;Esta operación recupera los metadatos del blob mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Permite especificar una ruta de acceso única al blob." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/GetFileContentByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentByPathV2" actionName="GetFileContentByPath_V2" siena:isDeprecated="false" siena:family="GetFileContentByPath" siena:revision="2" siena:status="Production">
        <doc title="Obtener contenido de blob mediante ruta de acceso (V2)&#xA;Esta operación recupera el contenido del blob mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Permite especificar una ruta de acceso única al blob." />
          </param>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Infiere el tipo de contenido según la extensión." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files/{id}/content">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentV2" actionName="GetFileContent_V2" siena:isDeprecated="false" siena:family="GetFileContent" siena:revision="2" siena:status="Production">
        <doc title="Obtener contenido de blob (V2)&#xA;Esta operación recupera el contenido del blob mediante el id." />
        <request>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Infiere el tipo de contenido según la extensión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/files">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateFileV2" actionName="CreateFile_V2" visibility="important" siena:isDeprecated="false" siena:family="CreateFile" siena:revision="2" siena:status="Production">
        <doc title="Crear blob (V2)&#xA;Esta operación carga un blob en Azure Blob Storage." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de la carpeta que se cargará." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Permite especificar el nombre del blob que se creará." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de que se complete la creación del archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/copyFile">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CopyFileV2" actionName="CopyFile_V2" visibility="advanced" siena:isDeprecated="false" siena:family="CopyFile" siena:revision="2" siena:status="Production">
        <doc title="Copiar blob (V2)&#xA;Esta operación permite copiar un blob. Si este se va a eliminar o se le va a cambiar el nombre en el servidor justo después de copiarlo, es posible que el conector devuelva un error HTTP 404 a causa del propio diseño. Antes de eliminar el blob que acaba de crear o de cambiarle el nombre, espérese 1 minuto. Asimismo, para esta acción no se permite la transferencia de fragmentos. Si el origen y el destino están presentes en la misma cuenta de almacenamiento, use una ruta relativa; en caso contrario, el tamaño máximo de un origen para una operación de copia de blob es de 50 MB." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Permite especificar la dirección URL del blob de origen." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso del blob de destino, incluido el nombre de blob de destino." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="¿Debería sobrescribirse el blob de destino (true/false)?" />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de que se complete la creación del archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/foldersV2/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar la carpeta." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFolderV4" actionName="ListFolder_V4" visibility="advanced" siena:isDeprecated="false" siena:family="ListFolder" siena:revision="4" siena:status="Production">
        <doc title="Mostrar blobs (V2)&#xA;Esta operación enumera los blobs de un contenedor." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Marcador que identifica la parte de la lista que se devolverá con la operación de lista&quot;." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Si se deben mostrar o no los blobs en la lista plana&quot;." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/foldersV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListRootFolderV4" actionName="ListRootFolder_V4" visibility="advanced" siena:isDeprecated="false" siena:family="ListRootFolder" siena:revision="4" siena:status="Production">
        <doc title="Muestra blobs en la carpeta raíz (V2)&#xA;Esta operación enumera los blobs de la carpeta raíz de Azure Blob Storage." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Marcador que identifica la parte de la lista que se devolverá con la operación de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Si se deben mostrar o no los blobs en la lista plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{dataset}/extractFolderV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="dataset" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="ExtractFolderV3" actionName="ExtractFolder_V3" visibility="advanced" siena:isDeprecated="false" siena:family="ExtractFolder" siena:revision="3" siena:status="Production">
        <doc title="Extraer archivo a carpeta (V2)&#xA;Esta operación extrae un blob de almacenamiento en una carpeta (ejemplo: .zip)." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso al blob de almacenamiento." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de Azure Blob Storage para extraer el contenido del archivo." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="¿Debería sobrescribirse un blob de destino (true/false)?" />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ExtractFolder_V3_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadata" actionName="GetFileMetadata" visibility="advanced" siena:isDeprecated="true" siena:family="GetFileMetadata" siena:revision="1" siena:status="Production">
        <doc title="Obtener metadatos del blob&#xA;Esta operación recupera los metadatos del blob mediante el id. de blob." />
        <request />
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob que se actualizará." />
      </param>
      <method siena:requiresAuthentication="true" name="PUT" id="UpdateFile" actionName="UpdateFile" siena:isDeprecated="true" siena:family="UpdateFile" siena:revision="1" siena:status="Production">
        <doc title="Actualizar blob&#xA;Esta operación actualiza un blob en Azure Blob Storage." />
        <request>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de actualizar un archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob que se eliminará." />
      </param>
      <method siena:requiresAuthentication="true" name="DELETE" id="DeleteFile" actionName="DeleteFile" siena:isDeprecated="true" siena:family="DeleteFile" siena:revision="1" siena:status="Production">
        <doc title="Eliminar blob&#xA;Esta operación elimina un blob." />
        <request>
          <param style="header" name="SkipDeleteIfFileNotFoundOnServer" type="xs:boolean" default="false">
            <doc title="Omite la eliminación si no se encuentra un archivo en el servidor." />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/GetFileByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetFileMetadataByPath" actionName="GetFileMetadataByPath" visibility="advanced" siena:isDeprecated="true" siena:family="GetFileMetadataByPath" siena:revision="1" siena:status="Production">
        <doc title="Obtener metadatos del blob mediante ruta de acceso&#xA;Esta operación recupera los metadatos del blob mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Permite especificar una ruta de acceso única al blob." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/GetFileContentByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContentByPath" actionName="GetFileContentByPath" siena:isDeprecated="true" siena:family="GetFileContentByPath" siena:revision="1" siena:status="Production">
        <doc title="Obtener contenido de blob mediante ruta de acceso&#xA;Esta operación recupera el contenido del blob mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Permite especificar una ruta de acceso única al blob." />
          </param>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Infiere el tipo de contenido según la extensión." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files/{id}/content">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar el blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetFileContent" actionName="GetFileContent" siena:isDeprecated="true" siena:family="GetFileContent" siena:revision="1" siena:status="Production">
        <doc title="Obtener contenido de blob&#xA;Esta operación recupera el contenido del blob mediante el id." />
        <request>
          <param style="query" name="inferContentType" type="xs:boolean" default="true">
            <doc title="Infiere el tipo de contenido según la extensión." />
          </param>
        </request>
        <response>
          <representation mediaType="application/octet-stream" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/files">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateFile" actionName="CreateFile" visibility="important" siena:isDeprecated="true" siena:family="CreateFile" siena:revision="1" siena:status="Production">
        <doc title="Crear blob&#xA;Esta operación carga un blob en Azure Blob Storage." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de la carpeta que se cargará." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Permite especificar el nombre del blob que se creará." />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de que se complete la creación del archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/copyFile">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CopyFile" actionName="CopyFile" visibility="advanced" siena:isDeprecated="true" siena:family="CopyFile" siena:revision="1" siena:status="Production">
        <doc title="Copiar blob&#xA;Esta operación permite copiar un blob. Si este se va a eliminar o se le va a cambiar el nombre en el servidor justo después de copiarlo, es posible que el conector devuelva un error HTTP 404 a causa del propio diseño. Antes de eliminar el blob que acaba de crear o de cambiarle el nombre, espérese 1 minuto. Asimismo, para esta acción no se permite la transferencia de fragmentos. Si el origen y el destino están presentes en la misma cuenta de almacenamiento, use una ruta relativa; en caso contrario, el tamaño máximo de un origen para una operación de copia de blob es de 50 MB." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Permite especificar la dirección URL del blob de origen." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso del blob de destino, incluido el nombre de blob de destino." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="¿Debería sobrescribirse el blob de destino (true/false)?" />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
          <param style="header" name="ReadFileMetadataFromServer" type="xs:boolean" default="true">
            <doc title="Permite obtener todos los metadatos de archivo del servidor después de copiar un archivo. Si es falso, es posible que no se devuelvan algunas propiedades de metadatos como, por ejemplo, la última hora de modificación, etc." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadata" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/foldersV2/{id}">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="id" type="xs:string" required="true">
        <doc title="Permite especificar la carpeta." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="ListFolderV2" actionName="ListFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ListFolder" siena:revision="2" siena:status="Production">
        <doc title="Listas de blobs&#xA;Esta operación enumera los blobs de un contenedor." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Marcador que identifica la parte de la lista que se devolverá con la operación de lista&quot;." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Si se deben mostrar o no los blobs en la lista plana&quot;." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/foldersV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="ListRootFolderV2" actionName="ListRootFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ListRootFolder" siena:revision="2" siena:status="Production">
        <doc title="Muestra blobs en la carpeta raíz&#xA;Esta operación enumera los blobs de la carpeta raíz de Azure Blob Storage." />
        <request>
          <param style="query" name="nextPageMarker" type="xs:string" default="">
            <doc title="Marcador que identifica la parte de la lista que se devolverá con la operación de lista." />
          </param>
          <param style="query" name="useFlatListing" type="xs:boolean" default="false">
            <doc title="Si se deben mostrar o no los blobs en la lista plana." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:BlobMetadataPage" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/extractFolderV2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="ExtractFolderV2" actionName="ExtractFolderV2" visibility="advanced" siena:isDeprecated="true" siena:family="ExtractFolder" siena:revision="2" siena:status="Production">
        <doc title="Extraer archivo a carpeta&#xA;Esta operación extrae un blob de almacenamiento en una carpeta (ejemplo: .zip)." />
        <request>
          <param style="query" name="source" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso al blob de almacenamiento." />
          </param>
          <param style="query" name="destination" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de Azure Blob Storage para extraer el contenido del archivo." />
          </param>
          <param style="query" name="overwrite" type="xs:boolean" default="false">
            <doc title="¿Debería sobrescribirse un blob de destino (true/false)?" />
          </param>
          <param style="query" name="queryParametersSingleEncoded" type="xs:boolean" default="true" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:ExtractFolderV2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/CreateSharedLinkByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateShareLinkByPathV2" actionName="CreateShareLinkByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="CreateShareLinkByPath" siena:revision="2" siena:status="Production">
        <doc title="Crear URI de SAS por ruta de acceso (V2)&#xA;Esta operación crea un vínculo SAS para un blob usando la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GroupPolicyIdentifier" path="/GroupPolicyIdentifier" type="xs:string" />
            <param style="plain" name="Permissions" path="/Permissions" type="xs:string" default="Read">
              <option value="Read" />
              <option value="Write" />
              <option value="Add" />
              <option value="Create" />
              <option value="Delete" />
              <option value="List" />
              <option value="Read,Write" />
              <option value="Read,Write,List" />
              <option value="Read,Write,List,Delete" />
            </param>
            <param style="plain" name="StartTime" path="/StartTime" type="service:SharedAccessSignatureBlobPolicy_StartTime_def" />
            <param style="plain" name="ExpiryTime" path="/ExpiryTime" type="service:SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
            <param style="plain" name="AccessProtocol" path="/AccessProtocol" type="xs:string">
              <option value="HttpsOnly" />
              <option value="HttpsOrHttp" />
            </param>
            <param style="plain" name="IpAddressOrRange" path="/IpAddressOrRange" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SharedAccessSignature" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/SetBlobTierByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="SetBlobTierByPathV2" actionName="SetBlobTierByPath_V2" visibility="advanced" siena:isDeprecated="false" siena:family="SetBlobTierByPath" siena:revision="2" siena:status="Production">
        <doc title="Establecer el nivel del blob según una ruta de acceso (V2)&#xA;Esta operación establece un nivel para un blob en bloques en una cuenta de Standard Storage mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
          <param style="query" name="newTier" type="xs:string" required="true">
            <doc title="Nivel nuevo para el blob." />
            <option value="Hot" />
            <option value="Cool" />
            <option value="Archive" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/datasets/{storageAccountName}/policies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="Nombre de la cuenta de Azure Storage o extremo de blob." />
      </param>
      <method siena:requiresAuthentication="true" name="GET" id="GetAccessPoliciesV2" actionName="GetAccessPolicies_V2" visibility="advanced" siena:isDeprecated="false" siena:family="GetAccessPolicies" siena:revision="2" siena:status="Production">
        <doc title="Obtener las directivas de acceso disponibles (V2)&#xA;Esta operación obtiene las directivas de acceso compartido disponibles para un blob." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetAccessPolicies_V2_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/v2/codeless/datasets/{storageAccountName}/CreateBlockBlob">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="storageAccountName" type="xs:string" required="true">
        <doc title="El nombre de la cuenta de almacenamiento." />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="CreateBlockBlobV2" actionName="CreateBlockBlob_V2" visibility="important" siena:isDeprecated="false" siena:family="CreateBlockBlob" siena:revision="2" siena:status="Production">
        <doc title="Crear un blob en bloques (V2)&#xA;Esta operación carga un blob en bloques en Azure Blob Storage." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de la carpeta que se cargará." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Permite especificar el nombre del blob que se creará." />
          </param>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/CreateSharedLinkByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateShareLinkByPath" actionName="CreateShareLinkByPath" visibility="advanced" siena:isDeprecated="true" siena:family="CreateShareLinkByPath" siena:revision="1" siena:status="Production">
        <doc title="Crear URI de SAS por ruta de acceso&#xA;Esta operación crea un vínculo SAS para un blob usando la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="GroupPolicyIdentifier" path="/GroupPolicyIdentifier" type="xs:string" />
            <param style="plain" name="Permissions" path="/Permissions" type="xs:string" default="Read">
              <option value="Read" />
              <option value="Write" />
              <option value="Add" />
              <option value="Create" />
              <option value="Delete" />
              <option value="List" />
              <option value="Read,Write" />
              <option value="Read,Write,List" />
              <option value="Read,Write,List,Delete" />
            </param>
            <param style="plain" name="StartTime" path="/StartTime" type="service:SharedAccessSignatureBlobPolicy_StartTime_def" />
            <param style="plain" name="ExpiryTime" path="/ExpiryTime" type="service:SharedAccessSignatureBlobPolicy_ExpiryTime_def" />
            <param style="plain" name="AccessProtocol" path="/AccessProtocol" type="xs:string">
              <option value="HttpsOnly" />
              <option value="HttpsOrHttp" />
            </param>
            <param style="plain" name="IpAddressOrRange" path="/IpAddressOrRange" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:SharedAccessSignature" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/SetBlobTierByPath">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="SetBlobTierByPath" actionName="SetBlobTierByPath" visibility="advanced" siena:isDeprecated="true" siena:family="SetBlobTierByPath" siena:revision="1" siena:status="Production">
        <doc title="Establecer el nivel del blob según una ruta de acceso&#xA;Esta operación establece un nivel para un blob en bloques en una cuenta de Standard Storage mediante la ruta de acceso." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
          <param style="query" name="newTier" type="xs:string" required="true">
            <doc title="Nivel nuevo para el blob." />
            <option value="Hot" />
            <option value="Cool" />
            <option value="Archive" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/{connectionId}/datasets/default/policies">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetAccessPolicies" actionName="GetAccessPolicies" visibility="advanced" siena:isDeprecated="true" siena:family="GetAccessPolicies" siena:revision="1" siena:status="Production">
        <doc title="Obtener las directivas de acceso disponibles&#xA;Esta operación obtiene las directivas de acceso compartido disponibles para un blob." />
        <request>
          <param style="query" name="path" type="xs:string" required="true">
            <doc title="Ruta de acceso única del blob." />
          </param>
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetAccessPolicies_responses_200_def" />
        </response>
      </method>
    </resource>
    <resource path="/{connectionId}/codeless/CreateBlockBlob">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="CreateBlockBlob" actionName="CreateBlockBlob" visibility="important" siena:isDeprecated="true" siena:family="CreateBlockBlob" siena:revision="1" siena:status="Production">
        <doc title="Crear un blob en bloques&#xA;Esta operación carga un blob en bloques en Azure Blob Storage." />
        <request>
          <param style="query" name="folderPath" type="xs:string" required="true">
            <doc title="Permite especificar la ruta de acceso de la carpeta que se cargará." />
          </param>
          <param style="query" name="name" type="xs:string" required="true">
            <doc title="Permite especificar el nombre del blob que se creará." />
          </param>
          <param style="header" name="Content-Type" type="xs:string">
            <doc title="Permite especificar el tipo de contenido del blob que se cargará." />
          </param>
          <representation mediaType="application/octet-stream" />
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_azureblob" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>