pkgs/Wadl/sistema-gestion-RT_3.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sistema-gestion-RT" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="sistema-gestion-RT">Microsoft SQL Server es un sistema de administración de bases de datos relacionales desarrollado por Microsoft. Conéctese a SQL Server para administrar datos. Puede realizar diversas acciones, como crear, actualizar, obtener y eliminar el contenido de las filas de una tabla.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="dbo_uspCreateNewDeuda_inputparam_detalle_def" />
      <string name="dbo_uspCreateNewDeuda_inputparam_doc_alumno_def" />
      <integer name="dbo_uspCreateNewDeuda_inputparam_id_deuda_def" />
      <number name="dbo_uspCreateNewDeuda_inputparam_monto_inicial_def" />
      <number name="dbo_uspCreateNewDeuda_inputparam_monto_total_def" />
      <object name="dbo_uspCreateNewDeuda_inputparam">
        <property name="detalle" type="string" />
        <property name="doc_alumno" type="string" />
        <property name="id_deuda" type="integer" />
        <property name="monto_inicial" type="number" />
        <property name="monto_total" type="number" />
      </object>
      <untypedObject name="dbo_uspCreateNewDeuda_outputparam_ResultSets_def" />
      <integer name="dbo_uspCreateNewDeuda_outputparam_ReturnCode_def" />
      <integer name="dbo_uspCreateNewDeuda_outputparam_OutputParameters_def_id_deuda_def" />
      <object name="dbo_uspCreateNewDeuda_outputparam_OutputParameters_def">
        <property name="id_deuda" type="integer" />
      </object>
      <object name="dbo_uspCreateNewDeuda_outputparam">
        <property name="ResultSets" typeRef="dbo_uspCreateNewDeuda_outputparam_ResultSets_def" />
        <property name="ReturnCode" type="integer" />
        <property name="OutputParameters" typeRef="dbo_uspCreateNewDeuda_outputparam_OutputParameters_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql">
    <resource path="/{connectionId}/v2/datasets/{server},{database}/procedures/dbo.uspCreateNewDeuda">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="server" type="xs:string" required="true">
        <doc title="Name of SQL server" />
      </param>
      <param style="template" name="database" type="xs:string" required="true">
        <doc title="Database name" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="dbouspCreateNewDeuda" actionName="dbo.uspCreateNewDeuda" visibility="important" siena:isDeprecated="false" siena:family="fdaf5a13-84d8-4b6d-9c59-95e3a9fb8e2d" siena:revision="2" siena:status="Production" siena:isSafe="true">
        <doc title="Execute stored procedure (V2)&#xA;This operation runs a stored procedure." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="detalle" path="/detalle" type="xs:string">
              <doc title="detalle" />
            </param>
            <param style="plain" name="doc_alumno" path="/doc_alumno" type="xs:string">
              <doc title="doc_alumno" />
            </param>
            <param style="plain" name="id_deuda" path="/id_deuda" type="xs:long">
              <doc title="id_deuda" />
            </param>
            <param style="plain" name="monto_inicial" path="/monto_inicial" type="xs:double">
              <doc title="monto_inicial" />
            </param>
            <param style="plain" name="monto_total" path="/monto_total" type="xs:double">
              <doc title="monto_total" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:dbo_uspCreateNewDeuda_outputparam" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_sql" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>