pkgs/Wadl/sistema-gestion-RT_1.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sistema-gestion-RT" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="sistema-gestion-RT">Microsoft SQL Server es un sistema de administración de bases de datos relacionales desarrollado por Microsoft. Conéctese a SQL Server para administrar datos. Puede realizar diversas acciones, como crear, actualizar, obtener y eliminar el contenido de las filas de una tabla.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="dbo_uspCreateNewMatricula_inputparam_creador_def" />
      <string name="dbo_uspCreateNewMatricula_inputparam_doc_alumno_def" />
      <integer name="dbo_uspCreateNewMatricula_inputparam_id_curso_def" />
      <integer name="dbo_uspCreateNewMatricula_inputparam_id_matricula_def" />
      <integer name="dbo_uspCreateNewMatricula_inputparam_promo_aplicada_def" />
      <string name="dbo_uspCreateNewMatricula_inputparam_tipo_matricula_def" />
      <object name="dbo_uspCreateNewMatricula_inputparam">
        <property name="creador" type="string" />
        <property name="doc_alumno" type="string" />
        <property name="id_curso" type="integer" />
        <property name="id_matricula" type="integer" />
        <property name="promo_aplicada" type="integer" />
        <property name="tipo_matricula" type="string" />
      </object>
      <untypedObject name="dbo_uspCreateNewMatricula_outputparam_ResultSets_def" />
      <integer name="dbo_uspCreateNewMatricula_outputparam_ReturnCode_def" />
      <integer name="dbo_uspCreateNewMatricula_outputparam_OutputParameters_def_id_matricula_def" />
      <object name="dbo_uspCreateNewMatricula_outputparam_OutputParameters_def">
        <property name="id_matricula" type="integer" />
      </object>
      <object name="dbo_uspCreateNewMatricula_outputparam">
        <property name="ResultSets" typeRef="dbo_uspCreateNewMatricula_outputparam_ResultSets_def" />
        <property name="ReturnCode" type="integer" />
        <property name="OutputParameters" typeRef="dbo_uspCreateNewMatricula_outputparam_OutputParameters_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql">
    <resource path="/{connectionId}/v2/datasets/{server},{database}/procedures/dbo.uspCreateNewMatricula">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="server" type="xs:string" required="true">
        <doc title="Name of SQL server" />
      </param>
      <param style="template" name="database" type="xs:string" required="true">
        <doc title="Database name" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="dbouspCreateNewMatricula" actionName="dbo.uspCreateNewMatricula" visibility="important" siena:isDeprecated="false" siena:family="fdaf5a13-84d8-4b6d-9c59-95e3a9fb8e2d" siena:revision="2" siena:status="Production" siena:isSafe="true">
        <doc title="Execute stored procedure (V2)&#xA;This operation runs a stored procedure." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="creador" path="/creador" type="xs:string">
              <doc title="creador" />
            </param>
            <param style="plain" name="doc_alumno" path="/doc_alumno" type="xs:string">
              <doc title="doc_alumno" />
            </param>
            <param style="plain" name="id_curso" path="/id_curso" type="xs:long">
              <doc title="id_curso" />
            </param>
            <param style="plain" name="id_matricula" path="/id_matricula" type="xs:long">
              <doc title="id_matricula" />
            </param>
            <param style="plain" name="promo_aplicada" path="/promo_aplicada" type="xs:long">
              <doc title="promo_aplicada" />
            </param>
            <param style="plain" name="tipo_matricula" path="/tipo_matricula" type="xs:string">
              <doc title="tipo_matricula" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:dbo_uspCreateNewMatricula_outputparam" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_sql" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>