pkgs/Wadl/sistema-gestion-RT_5.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sistema-gestion-RT" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="sistema-gestion-RT">Microsoft SQL Server es un sistema de administración de bases de datos relacionales desarrollado por Microsoft. Conéctese a SQL Server para administrar datos. Puede realizar diversas acciones, como crear, actualizar, obtener y eliminar el contenido de las filas de una tabla.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="dbo_uspTablaParam2_inputparam_id_horario_def" />
      <integer name="dbo_uspTablaParam2_inputparam_id_periodos_def" />
      <integer name="dbo_uspTablaParam2_inputparam_max_def" />
      <integer name="dbo_uspTablaParam2_inputparam_min_def" />
      <object name="dbo_uspTablaParam2_inputparam">
        <property name="id_horario" type="integer" />
        <property name="id_periodos" type="integer" />
        <property name="max" type="integer" />
        <property name="min" type="integer" />
      </object>
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_NIVEL_ID_def" />
      <string name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_codigo_nivel_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_id_curso_def" />
      <string name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_codigo_curso_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_id_nivel_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_id_horario_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_id_periodos_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_doc_docente_def" />
      <string name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_nombre_completo_def" />
      <integer name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def_rn_def" />
      <object name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def">
        <property name="NIVEL_ID" type="integer" />
        <property name="codigo_nivel" type="string" />
        <property name="id_curso" type="integer" />
        <property name="codigo_curso" type="string" />
        <property name="id_nivel" type="integer" />
        <property name="id_horario" type="integer" />
        <property name="id_periodos" type="integer" />
        <property name="doc_docente" type="integer" />
        <property name="nombre_completo" type="string" />
        <property name="rn" type="integer" />
      </object>
      <array typeRef="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def_items_def" name="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def" />
      <object name="dbo_uspTablaParam2_outputparam_ResultSets_def">
        <property name="Table1" typeRef="dbo_uspTablaParam2_outputparam_ResultSets_def_Table1_def" />
      </object>
      <integer name="dbo_uspTablaParam2_outputparam_ReturnCode_def" />
      <untypedObject name="dbo_uspTablaParam2_outputparam_OutputParameters_def" />
      <object name="dbo_uspTablaParam2_outputparam">
        <property name="ResultSets" typeRef="dbo_uspTablaParam2_outputparam_ResultSets_def" />
        <property name="ReturnCode" type="integer" />
        <property name="OutputParameters" typeRef="dbo_uspTablaParam2_outputparam_OutputParameters_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql">
    <resource path="/{connectionId}/v2/datasets/{server},{database}/procedures/dbo.uspTablaParam2">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="server" type="xs:string" required="true">
        <doc title="Name of SQL server" />
      </param>
      <param style="template" name="database" type="xs:string" required="true">
        <doc title="Database name" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="dbouspTablaParam2" actionName="dbo.uspTablaParam2" visibility="important" siena:isDeprecated="false" siena:family="fdaf5a13-84d8-4b6d-9c59-95e3a9fb8e2d" siena:revision="2" siena:status="Production" siena:isSafe="true">
        <doc title="Execute stored procedure (V2)&#xA;This operation runs a stored procedure." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="id_horario" path="/id_horario" type="xs:long">
              <doc title="id_horario" />
            </param>
            <param style="plain" name="id_periodos" path="/id_periodos" type="xs:long">
              <doc title="id_periodos" />
            </param>
            <param style="plain" name="max" path="/max" type="xs:long">
              <doc title="max" />
            </param>
            <param style="plain" name="min" path="/min" type="xs:long">
              <doc title="min" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:dbo_uspTablaParam2_outputparam" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_sql" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>