pkgs/Wadl/sistema-gestion-RT_12.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="sistema-gestion-RT" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="sistema-gestion-RT">Microsoft SQL Server es un sistema de administración de bases de datos relacionales desarrollado por Microsoft. Conéctese a SQL Server para administrar datos. Puede realizar diversas acciones, como crear, actualizar, obtener y eliminar el contenido de las filas de una tabla.</doc>
  <grammars>
    <jsonTypes targetNamespace="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="dbo_uspNotasPorAula_inputparam_IdCurso_def" />
      <object name="dbo_uspNotasPorAula_inputparam">
        <property name="IdCurso" type="integer" />
      </object>
      <integer name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_index_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nota_expresionoral_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nota_comprensionlectora_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nota_aprendizajeautonomo_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nota_examenfinal_def" />
      <integer name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nota_promedio_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_doc_alumno_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_estado_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def_nombre_completo_def" />
      <object name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def">
        <property name="index" type="integer" />
        <property name="nota_expresionoral" type="number" />
        <property name="nota_comprensionlectora" type="number" />
        <property name="nota_aprendizajeautonomo" type="number" />
        <property name="nota_examenfinal" type="number" />
        <property name="nota_promedio" type="integer" />
        <property name="doc_alumno" type="string" />
        <property name="estado" type="string" />
        <property name="nombre_completo" type="string" />
      </object>
      <array typeRef="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def_items_def" name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def" />
      <integer name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_index_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nota_expresionoral_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nota_comprensionlectora_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nota_aprendizajeautonomo_def" />
      <number name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nota_examenfinal_def" />
      <integer name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nota_promedio_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_doc_alumno_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_estado_def" />
      <string name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def_nombre_completo_def" />
      <object name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def">
        <property name="index" type="integer" />
        <property name="nota_expresionoral" type="number" />
        <property name="nota_comprensionlectora" type="number" />
        <property name="nota_aprendizajeautonomo" type="number" />
        <property name="nota_examenfinal" type="number" />
        <property name="nota_promedio" type="integer" />
        <property name="doc_alumno" type="string" />
        <property name="estado" type="string" />
        <property name="nombre_completo" type="string" />
      </object>
      <array typeRef="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def_items_def" name="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def" />
      <object name="dbo_uspNotasPorAula_outputparam_ResultSets_def">
        <property name="Table1" typeRef="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table1_def" />
        <property name="Table2" typeRef="dbo_uspNotasPorAula_outputparam_ResultSets_def_Table2_def" />
      </object>
      <integer name="dbo_uspNotasPorAula_outputparam_ReturnCode_def" />
      <untypedObject name="dbo_uspNotasPorAula_outputparam_OutputParameters_def" />
      <object name="dbo_uspNotasPorAula_outputparam">
        <property name="ResultSets" typeRef="dbo_uspNotasPorAula_outputparam_ResultSets_def" />
        <property name="ReturnCode" type="integer" />
        <property name="OutputParameters" typeRef="dbo_uspNotasPorAula_outputparam_OutputParameters_def" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://default-26719506-7ef2-485b-be91-9e0d27086002.08.common.brazil.azure-apihub.net/apim/sql">
    <resource path="/{connectionId}/v2/datasets/{server},{database}/procedures/dbo.uspNotasPorAula">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <param style="template" name="server" type="xs:string" required="true">
        <doc title="Name of SQL server" />
      </param>
      <param style="template" name="database" type="xs:string" required="true">
        <doc title="Database name" />
      </param>
      <method siena:requiresAuthentication="true" name="POST" id="dbouspNotasPorAula" actionName="dbo.uspNotasPorAula" visibility="important" siena:isDeprecated="false" siena:family="fdaf5a13-84d8-4b6d-9c59-95e3a9fb8e2d" siena:revision="2" siena:status="Production" siena:isSafe="true">
        <doc title="Execute stored procedure (V2)&#xA;This operation runs a stored procedure." />
        <request>
          <representation mediaType="application/json">
            <param style="plain" name="IdCurso" path="/IdCurso" type="xs:long">
              <doc title="IdCurso" />
            </param>
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:dbo_uspNotasPorAula_outputparam" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_sql" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>